@media only screen and (max-width :1366px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .sider{
        width: 70%;
        margin-left: 0px;
    }
    .forcast{
        display: flex;
        flex-direction: column;
        height: 150vh;
        margin-right: 0px;
    }
    .temp_img{
        width: 100px;
        height: 100px;
    }
    .temp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:30px;
        align-items: center;
    }
}
